<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HackHouston 2019 Check In">
    <meta name="author" content="Kenneth Ratliff">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./CSS/style.css">
    <title>HackHouston 2019 CheckIN</title>
</head>
<body>
    <section id="banner">
        <img src="/images/hackhouston-header.png" alt="">
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <form id="myForm" action="http://localhost:3000/" method="POST">
                    First name:<br>
                    <input type="text" name="firstname" size="80">
                    <br>
                    Last name:<br>
                    <input type="text" name="lastname" size="80">
                    <br>
                    Email:<br>
                    <input type="email" name="email" size="80">
                    <br><br>
                    <input type="submit" value="Submit">
                </form> 
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script>
        const myForm = document.querySelector('#myForm');

        myForm.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(myForm);
            const searchParams = new URLSearchParams();

            for(const pair of formData) {
                searchParams.append(pair[0], pair[1]);
            }

            fetch('http://localhost:3000/', {
                method: 'POST',
                body: searchParams
            })
            .then((response) => { 
                return response.text();
            })
            .then((jsonResponse) => {
                console.log('from script' + ' ' + jsonResponse);
                if(jsonResponse === '{"userFound":1}') {
                    const div = document.createElement('div');
                    div.className = 'alert alert-success';
                    div.appendChild(document.createTextNode('Success!'));
                    
                    const parentElement = myForm.parentNode;
                    parentElement.insertBefore(div, myForm);

                    myForm.reset();
                }
                else {
                    const div = document.createElement('div');
                    div.className = 'alert alert-danger';
                    div.appendChild(document.createTextNode('Not Found!'));
                    
                    const parentElement = myForm.parentNode;
                    parentElement.insertBefore(div, myForm);

                    myForm.reset();
                }
            }).catch((error) => {
                console.error(error);
            });
        });
    </script>
</body>
</html>